body {
    margin: 0;
    padding: 0;
    background-color: #343d46;
}
#root {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}